
.header_img {
 background: #000 url('/img/header-fon.jpg') center center no-repeat;
 min-height:770px;
 background-size: cover;
position: relative;
}
.header_img:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#111, 0.42);
    }



.top_line {
background-color: #000;
position: sticky; /* Липкое позиционирование */
top: 0; /* Положение сверху */
// width: 100%;
//  height: 100px;
 //  @include transition(background-color, 1.8s, ease, 0.1s);
   transition: background-color 1s ease-in-out 0s;
 z-index: 9999999;

}
.active {
   background-color: rgba(#111, 1.0);
   width: 100%;
   position: fixed;
}
.top_line_box {
  display: flex;
  position: relative;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.top_line_box_active {
  height: 70px;
}
.top_line_logo {
   @include font-size(24px);
   line-height: 1;
   text-transform: uppercase;
    font-family: "OpenSansSemiBold", sans-serif;
  color: #fff;
}
.f-nav{ z-index: 9999; position: fixed; left: 0; top: 0; width: 100%;}
.top_line_menu {
  padding: 0;
  margin: 0;
}
.top_line_menu ul li {
  display: inline-block;
  padding: 0 10px;
}
.top_line_menu ul li a {
  display: block;
  text-transform: uppercase;
  color: #fff;
 padding: 10px 0;
 @include font-size(14px);
  line-height:(24px / 14px);
  @include trans;
position: relative;
}

.top_line_menu ul li a:hover {
color: $color_cycle;
}

.top_line_menu ul li a:hover:before {
position: absolute;
bottom:0;
left:0;
content: '';
height: 2px;
width: 100%;
background-color: $color_cycle;
animation: clipMe 0.75s linear;
}


@keyframes clipMe {
0% {
   width:0;
  }

  100% {
    width: 100%;
  }
}









/*  оформление мобильной версии меню и гамбургера */
.mobile_gamburger {
  display: none;
}

.mobile_gamburger {
  width: 50px;
  height: 50px;
  display: none;
  z-index: 100;
}

.toggle-mnu {
  display: block;
/*   float:right;
position:absolute;
right:10px;top:0; */
text-align:center;
line-height:48px;
}
.toggle-mnu{
  display:block;
  width:36px;
  height:36px;
  margin-top:15px;
  margin-right: 0;
}
.toggle-mnu span:after, .toggle-mnu span:before {
content:"";
position:absolute;
left:0;
top:9px;
}
.toggle-mnu span:after {
  top:18px;
}
.toggle-mnu span{
  position:relative;
  display:block;
}
.toggle-mnu span,.toggle-mnu span:after,.toggle-mnu span:before {
  width:100%;
  height:3px;
  background-color:#fff;
  transition:all .3s;
  backface-visibility:hidden;
  border-radius:3px;
}
.toggle-mnu.on span {
  background-color:transparent;
}
.toggle-mnu.on span:before {
  -webkit-transform:rotate(45deg) translate(-1px,0);
  -ms-transform:rotate(45deg) translate(-1px,0);
  transform:rotate(45deg) translate(-1px,0);
}
.toggle-mnu.on span:after {
  -webkit-transform:rotate(-45deg) translate(6px,-7px);
  -ms-transform:rotate(-45deg) translate(6px,-7px);
  transform:rotate(-45deg) translate(6px,-7px);
}

.toggle-mnu.on+#menu {
  opacity:1;visibility:visible;
}



/*оформление скрытого меню*/
.hidden-mnu {
  background-color: rgba(#000, .7);
  display: none;
  min-width:100%;
  position:absolute;
  left:0;
  top: 0;
  z-index:1;
}
.hidden-mnu ul {
  margin: 0;
  padding: 0;
}
.hidden-mnu ul li {
  display:block;
  margin: 0;
  padding: 0;
}
.hidden-mnu ul li a{
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.5;
  padding:20px 0;
  color:#fff;
  @include trans;
}

.hidden-mnu ul li a:hover{
  /* background-color:rgba(40, 40, 38, 0.60); */
  color:$color_button;

}









/*
стили оформления контента в хедере
*/

.header_row {
  display: flex;

align-content: center;
  align-items: center;
  justify-content: center;
  min-height:770px;
}
.header_content {
  text-align: center;
  color:#fff;
  position: relative;
}

.header_content h1 {
  font-family: "OpenSansLight", sans-serif;
 @include font-size(24px);
 line-height: 1;
 text-transform: uppercase;
 margin-bottom: 20px;
}
.header_content h1 span {
 font-family: "OpenSansBold", sans-serif;
color:$color_cycle;
}

.header_content p {
 width: 70%;
 margin: 0 auto;
 @include font-size(20px);
  line-height: (24px / 20px);
}
.header_content p span {
  font-family: "OpenSansBold", sans-serif;

 }

