
/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1440px) {

}

@media only screen and (max-width : 1280px) {
  .about_us_title {
    font-size: 1.80rem;
  }

}

@media only screen and (max-width : 1200px) {

}


@media only screen and (max-width : 1190px) {

}

@media screen and (max-width: 1080px) {
  /* делать это разрешение */
  .about_us_title {
    font-size: 1.80rem;}

  }
  /* первое разрешение под казачика */
  @media only screen and (max-width: 1024px) {
    /* делать это разрешение */
    .block_descr {
      margin-bottom: 60px;
    }

  }


  @media only screen and (max-width: 992px) {

  }

  @media only screen and (max-width: 800px) {
    .block {
      padding: 50px 0;
    }
    .header_img {
      background-position: 66% center;
    }
    .about_us_wrap {
     flex-wrap: wrap;
   }
   .about_us_items:first-child .img-responsive {
    width: 50%;
    margin: 0 auto 20px auto;
  }

  .about_us_items {
    width: 100%;
  }
  .our_team_wrap {
    flex-wrap: wrap;
  }
  .our_team_items {
    width: 48%;
    padding: 10px 0;
  }
  .adwice_text {
    font-size: 1rem;
  }
  .about_us_title {
    font-size: 2.10rem;
  }

}

@media only screen and (max-width: 768px) {
  .top_line_menu {
    display: none;
  }
  .mobile_gamburger {
    display: block;
  }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

/* end  (max-width: 768px) */
@media only screen and (max-width: 740px) {

}

@media only screen and (max-width: 736px) {

}

@media only screen and (max-width: 734px) {

}

@media only screen and (max-width: 684px) {

}

@media only screen and (max-width: 667px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 600px) {
  /* делать это разрешение */
  .our_service_foto {
    -webkit-border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  .our_service_foto img {
    display: block;
    width: 49%;
    margin: auto;
  }
}

@media only screen and (max-width: 568px) {

}

@media only screen and (max-width: 480px) {
  .top_line_logo {
    font-size: 1.25rem;

  }
  /* делать это разрешение */
  .our_portfolio_items {
    width: 32%;
  }
  .about_us_lists {
    padding-left: 20px;
  }
  .hidden-mnu ul li a {
   font-size: 1.46rem;
 }
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 414px) {
}

@media only screen and (max-width: 412px) {
}

@media only screen and (max-width: 384px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
}

