@import '_var.scss';
/* стили формы обратной связи */

.forms-call {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border: 0;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	flex-wrap: wrap;
}
.forms-call_items {
	width: 48%;
}
.forms-call_buttons,
.forms-call_items:nth-child(3) {
	width: 100%;
	margin-bottom: 30px;
}
.form_fon_title {
	color: #fff;
	text-align: center;
	@include font-size(25px);
}
.form_fon_title span {
	text-transform: uppercase;
	color: $color_button ;
}

.forms-call label{
	margin:10px 0 8px 0;
	display:block;
	@include fontsize-lineheight(24, 14);
}
.forms-call input {
	height: 40px;
	width: 100%;
	line-height: 40px;
	border:2px solid #999999;
	text-indent: 10px;
	@include fontsize-lineheight(24, 14);
}
.forms-call textarea {
	width: 100%;
	height: 160px;
	border:2px solid #999999;
	padding-top: 10px;
	text-indent: 10px;
	@include fontsize-lineheight(24, 14);
	resize:none;
}
.forms-call_buttons {
	text-align: right;
}

.call_buttons {
	padding: 10px 60px;
	display:inline-block;
	background-color: $color_cycle;
	color: #fff;
	cursor: pointer;
	font-size: 1.2rem;
	text-align: center;
	outline: 0;
	border: 0;
	cursor: pointer;
	@include trans;
}

.submit:hover {
	background-color: darken($color_cycle, 0.4);
}






:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

