.svg-icons8-Symfony {
	background: url("svg/sprite.css-4f3c5f17.svg") 0 0 no-repeat;
}

.svg-icons8-Symfony-dims {
	width: 50px;
	height: 50px;
}

.svg-icons8-apple-app-store {
	background: url("svg/sprite.css-4f3c5f17.svg") 100% 0 no-repeat;
}

.svg-icons8-apple-app-store-dims {
	width: 50px;
	height: 50px;
}

.svg-icons8-buildbox {
	background: url("svg/sprite.css-4f3c5f17.svg") 0 100% no-repeat;
}

.svg-icons8-buildbox-dims {
	width: 50px;
	height: 50px;
}

